*{
    background-color: gray;
}
#apple{
    color:red;
}
#banana{
    color:yellow;
}
#kiwi{
    color:green;
}
#pineapple{
    color:lightgoldenrodyellow;
}
#blueberry{
    color: darkblue;
}
#cherry{
    color: darkred;
}
#grape{
    color: violet;
}
#orange{
    color: orange;
}
#strawberry{
    color: lightcoral;
}
#watermelon{
    color:darkgreen;
}